@charset "UTF-8";

@media screen and (min-width: 922px) {
    
    .content {
        max-width: 922px;
        margin: 0 auto;
    }

    .pokemon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}