@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem; /* 1rem é igual a 16px */
}

ol.pokemon {
    display: grid; /*Para colocar os itens um ao lado do outro*/
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemon li {
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #14a06f;
    color: white;
    height: 100px;
}